.footer {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  flex-direction: column;
}

.icons-list {
  display: flex;
  list-style: none;
  width: 80%;
  max-width: 300px;
  justify-content: space-between;
}


.icon--wrapper {
  font-size: 48px;
  color: dodgerblue;
}

.yellow {
  color:#deb926;
}

.violet {
  color: blueviolet;
}